.photo-grid {
    display: grid;
    justify-items: stretch;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 284px);
        /* grid-template-rows: repeat(3, 213px); */
        gap: 16px;
        max-width: 1184px;
        margin-top: 7.188%;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        /* grid-template-rows: repeat(2, 225px); */
        gap: 14px;
        max-width: 928px;
        margin-top: 8.985%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        /* grid-template-rows: repeat(1, 264px); */
        gap: 16px;
        max-width: 720px;
        margin-top: 11.459%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, 288px);
        /* grid-template-rows: repeat(1, 216px); */
        gap: 12px;
        max-width: 288px;
        margin-top: 20%;
    }
}