.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;

    width: 1184px;
    height: 671px;

    justify-items: stretch;
    align-items: center;

    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    margin-bottom: 0;
    padding: 0;
}