.places {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 984px;
    margin-top: 92px;
    margin-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .places {
        max-width: 90.625vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        max-width: 93.75vw;
        margin-top: 88px;
        margin-bottom: 64px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .places {
        max-width: 100%;
        margin-top: 64px;
        margin-bottom: 66px;
    }
}