.place__image {
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
    max-width: 460px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place__image {
        max-width: 42.969vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__image {
        max-width: 44.27vw;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__image {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
} 