.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
}
@media screen and (min-width: 1280px) {
    .lead__subtitle {
        width: 640px;
        margin-top: 3.253%;
        margin-bottom: 6.505%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .lead__subtitle {
        width: 640px;
        margin-top: 3.449%;
        margin-bottom: 6.035%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__subtitle {
        width: 640px;
        margin-top: 4.168%;
        margin-bottom: 7.293%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        margin-top: 5%;
        margin-bottom: 12.5%;
        margin-left: auto;
        margin-right: auto;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }
}