.cover {
    font-family: 'Inter', Arial, sans-serif;
    background-image: url(../../images/__background.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1184px;
    position: relative;
    min-height: 740px;
}

@media screen and (min-width: 320px) and (max-width: 1280px){
    .cover {
        min-height: 62.5vw;
    }
}